:root {
    --dark: rgb(20, 20, 20);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    transition: .3s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Additional Class */
.hidden { display: none; }

/* Button */
.btn-white { background-color: rgb(255, 255, 255); }
.btn-white-1 { background-color: rgb(234, 234, 234); }
.btn-dark { background-color: rgb(20, 20, 20); }

/* Text */
.text-dark { color:rgb(20, 20, 20); }
.text-white { color: rgb(255, 255, 255); }

/* Background */
.bg-white { background-color: white; }
.bg-white-1 { background-color: rgb(234, 234, 234) }
.bg-dark { background-color: rgb(20, 20, 20); }

/* Border */
.border-1-white { border: 1px solid rgb(196, 196, 196); }

/* Theme */
.darkBG { background-color: rgb(25, 25, 25); }

@keyframes blackAnim {
    0% { opacity: 0; }
    100% { opacity: 100%; }
}

.black-overlay {
    width: 100%;
    height: 100%;
    opacity: .8;
    background-color: black;
    position: absolute;
    animation: blackAnim .2s ease-in-out;
}

@keyframes modalInfo {
    0% { top: -300px; opacity: 0; }

    100% { top: 0px; opacity: 1; }
}

.modal-container {
    width: 500px;
    height: 300px;
    padding: 30px;
    position: absolute;
    border-radius: 20px;
    box-sizing: border-box;
    animation: modalInfo .8s ease-out;
    z-index: 2;
}

.modal-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.modal-info header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-info header h1 {
    text-align: center;
}

.modal-info button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
}

.modal-info button:hover {
    color: rgb(20, 20, 20);
    background-color: rgb(219, 219, 219);
}

/* Container => Main */
main {
    margin: auto;
    width: 350px;
    /* padding: 30px; */
    box-sizing: border-box;
    background-color: var(--dark);
}

.mode {
    margin-top: 100px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 50px;
}

.display {
    height: 90px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: .3s all;
}

.display p {
    font-size: 2em;
    font-weight: 600;
    width: 100%;
    text-align: right;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .3s all;
}

.button-grid .dark-button {
    border: 1px solid rgb(219, 219, 219);
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 70px);
}

.button-grid button {
    font-size: 1em;
    cursor: pointer;
    border: none;
    transition: .3s all;
    /* border-radius: 10px; */
}

.button-grid button.active:hover {
    background-color: rgb(195, 195, 195);
}

.button-grid button.active.dark-mode:hover {
    background-color: rgb(45, 45, 45);
}

.button-grid .operator {
    background-color: rgb(219, 219, 219);
}

.button-grid .operator:hover {
    background-color: rgb(200, 200, 200);
}

.button-grid .active:active {
    background-color: rgb(201, 201, 201);
}

.button-grid .equals {
    grid-row: 2 / 6;
    grid-column: -1 / -2;
    font-size: 1.1em;
    color: white;
    border: none;
    background-color: rgb(30, 136, 242);
}

.button-grid .equals:hover {
    background-color: rgb(26, 118, 210);
}

.button-grid .clear {
    background-color: orange;
    border: none;
}

.button-grid .clear:hover {
    background-color: rgb(224, 145, 0);
}
